# Explore here

#### Paso 1: Carga del conjunto de datos

In [1]:
import pandas as pd
movies_df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv")
credits_df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv")

In [ ]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Paso 2: CreaciÃ³n de una base de datos

In [4]:
import sqlite3

#Crear base de datos en sql
conexion_movies= sqlite3.connect("../data/raw/movies_db.db")

In [5]:
#Transformar los dataframe en formato sql
movies_df.to_sql('Tabla_movies',conexion_movies,if_exists='replace',index=False)
credits_df.to_sql('Tabla_credits',conexion_movies,if_exists='replace',index=False)

4803

In [6]:
print(movies_df.columns)
print(credits_df.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [7]:
#Crear una sola tabla

query_movies = """
    SELECT tc.movie_id, tm.title, tm.overview, tm.genres, tm.keywords, tc.cast, tc.crew
    FROM Tabla_movies as tm
    INNER JOIN Tabla_credits as tc
    ON tm.title = tc.title;
"""

df_movies = pd.read_sql_query(query_movies,conexion_movies)
conexion_movies.close()

df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Paso 3: Transforma los datos

In [8]:
import json 
#selecciona el atributo `name` y reemplaza las columnas `genres` y `keywords`
df_movies['genres'] = df_movies['genres'].apply(lambda x: [item['name'] for item in json.loads(x)] if pd.notna(x) else None)
df_movies['keywords'] = df_movies['keywords'].apply(lambda x: [item['name'] for item in json.loads(x)] if pd.notna(x) else None)

In [9]:
#Para la columna `cast`, selecciona los tres primeros nombres
df_movies['cast'] = df_movies['cast'].apply(lambda x: [item['name'] for item in json.loads(x)[:3]] if pd.notna(x) else None)

In [10]:
#para la columna crew, dejar solo el nombre del director, observaciÃ³n: lambda x: " ".join([crew_member['name'] en este caso, las "",join se utilizan para eliminar los parentecis cuadrados, asociado al nombre del director de la pelÃ­cula
df_movies["crew"] = df_movies["crew"].apply(lambda x: ([crew_member['name'] for crew_member in json.loads(x) if crew_member['job'] == 'Director']))

In [11]:
#la columna overview debe quedar con formato de lista
df_movies["overview"] = df_movies["overview"].apply(lambda x: [x])

In [12]:
#quitaremos los espacios entre las palabras. 
#Aplica esta funciÃ³n a las columnas `genres`, `cast`, `crew` y `keywords`
df_movies["genres"] = df_movies["genres"].apply(lambda x: str(x).replace(" ","").replace("[","").replace("]",""))
df_movies["cast"] = df_movies["cast"].apply(lambda x: str(x).replace(" ","").replace("[","").replace("]",""))
df_movies["crew"] = df_movies["crew"].apply(lambda x: str(x).replace(" ","").replace("[","").replace("]",""))
df_movies["keywords"] = df_movies["keywords"].apply(lambda x: str(x).replace(" ","").replace("[","").replace("]",""))
df_movies["overview"] = df_movies["overview"].apply(lambda x: str(x).replace("[","").replace("]",""))

In [13]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"'In the 22nd century, a paraplegic Marine is d...","'Action','Adventure','Fantasy','ScienceFiction'","'cultureclash','future','spacewar','spacecolon...","'SamWorthington','ZoeSaldana','SigourneyWeaver'",'JamesCameron'
1,285,Pirates of the Caribbean: At World's End,"'Captain Barbossa, long believed to be dead, h...","'Adventure','Fantasy','Action'","'ocean','drugabuse','exoticisland','eastindiat...","'JohnnyDepp','OrlandoBloom','KeiraKnightley'",'GoreVerbinski'
2,206647,Spectre,'A cryptic message from Bondâ€™s past sends him ...,"'Action','Adventure','Crime'","'spy','basedonnovel','secretagent','sequel','m...","'DanielCraig','ChristophWaltz','LÃ©aSeydoux'",'SamMendes'
3,49026,The Dark Knight Rises,"""Following the death of District Attorney Harv...","'Action','Crime','Drama','Thriller'","'dccomics','crimefighter','terrorist','secreti...","'ChristianBale','MichaelCaine','GaryOldman'",'ChristopherNolan'
4,49529,John Carter,"""John Carter is a war-weary, former military c...","'Action','Adventure','ScienceFiction'","'basedonnovel','mars','medallion','spacetravel...","'TaylorKitsch','LynnCollins','SamanthaMorton'",'AndrewStanton'

Reduciremos nuestro conjunto de datos combinando todas nuestras columnas convertidas anteriores en una sola columna llamada `tags` (que crearemos). Esta columna ahora tendrÃ¡ todos los elementos separados por comas y luego las reemplazaremos por espacios en blanco.

In [14]:
#transformar a string los campos
df_movies["movie_id"] = df_movies["movie_id"].apply(lambda x: [str(x)])
df_movies["title"] = df_movies["title"].apply(lambda x: [str(x)])
df_movies["overview"] = df_movies["overview"].apply(lambda x: [str(x)])
df_movies["genres"] = df_movies["genres"].apply(lambda x: [str(x)])
df_movies["keywords"] = df_movies["keywords"].apply(lambda x: [str(x)])
df_movies["cast"] = df_movies["cast"].apply(lambda x: [str(x)])
df_movies["crew"] = df_movies["crew"].apply(lambda x: [str(x)])
df_movies["tags"] = df_movies["movie_id"] + df_movies["title"] + df_movies["overview"] + df_movies["genres"]+ df_movies["keywords"] + df_movies["cast"]+df_movies["crew"]
df_movies['tags'] = df_movies['tags'].apply(lambda x: ",".join(x).replace(","," "))

In [ ]:
df_movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,[19995],[Avatar],"['In the 22nd century, a paraplegic Marine is ...","['Action','Adventure','Fantasy','ScienceFiction']","['cultureclash','future','spacewar','spacecolo...","['SamWorthington','ZoeSaldana','SigourneyWeaver']",['JamesCameron'],19995 Avatar 'In the 22nd century a paraplegi...
1,[285],[Pirates of the Caribbean: At World's End],"['Captain Barbossa, long believed to be dead, ...","['Adventure','Fantasy','Action']","['ocean','drugabuse','exoticisland','eastindia...","['JohnnyDepp','OrlandoBloom','KeiraKnightley']",['GoreVerbinski'],285 Pirates of the Caribbean: At World's End '...
2,[206647],[Spectre],['A cryptic message from Bondâ€™s past sends him...,"['Action','Adventure','Crime']","['spy','basedonnovel','secretagent','sequel','...","['DanielCraig','ChristophWaltz','LÃ©aSeydoux']",['SamMendes'],206647 Spectre 'A cryptic message from Bondâ€™s ...
3,[49026],[The Dark Knight Rises],"[""Following the death of District Attorney Har...","['Action','Crime','Drama','Thriller']","['dccomics','crimefighter','terrorist','secret...","['ChristianBale','MichaelCaine','GaryOldman']",['ChristopherNolan'],"49026 The Dark Knight Rises ""Following the dea..."
4,[49529],[John Carter],"[""John Carter is a war-weary, former military ...","['Action','Adventure','ScienceFiction']","['basedonnovel','mars','medallion','spacetrave...","['TaylorKitsch','LynnCollins','SamanthaMorton']",['AndrewStanton'],"49529 John Carter ""John Carter is a war-weary ..."

In [ ]:
df_movies["tags"][0]

"19995 Avatar 'In the 22nd century  a paraplegic Marine is dispatched to the moon Pandora on a unique mission  but becomes torn between following orders and protecting an alien civilization.' 'Action' 'Adventure' 'Fantasy' 'ScienceFiction' 'cultureclash' 'future' 'spacewar' 'spacecolony' 'society' 'spacetravel' 'futuristic' 'romance' 'space' 'alien' 'tribe' 'alienplanet' 'cgi' 'marine' 'soldier' 'battle' 'loveaffair' 'antiwar' 'powerrelations' 'mindandsoul' '3d' 'SamWorthington' 'ZoeSaldana' 'SigourneyWeaver' 'JamesCameron'"

In [17]:
df_movies.to_csv("../data/processed/data_limpia.csv", index = False)

#### Paso 4: Construye un KNN

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df_movies['tags'])

model = NearestNeighbors(n_neighbors=6,algorithm='brute',metric='cosine')
model.fit(tfidf_matrix)

def obtener_recomendaciones(titulo_movie):
    indice_pelicula = df_movies[df_movies['title']==titulo_movie].index[0]
    distancias, indices = model.kneighbors(tfidf_matrix[indice_pelicula])
    peliculas_parecidas = [(df_movies['title'][i],distancias[0][j]) for j,i in enumerate(indices[0])]
    return peliculas_parecidas[1:]

pelicula_consultar = "How to Train Your Dragon"
recomendaciones = obtener_recomendaciones(pelicula_consultar)
for pelicula, distancia in recomendaciones:
    print("-Pelicula {}".format(pelicula))

IndexError: index 0 is out of bounds for axis 0 with size 0